# core ML & RL
torch @ https://download.pytorch.org/whl/cu117/torch-2.0.1%2Bcu117-cp311-cp311-linux_x86_64.whl
torchvision @ https://download.pytorch.org/whl/cu117/torchvision-0.15.2%2Bcu117-cp311-cp311-linux_x86_64.whl
torchaudio==2.0.2

# Jupyter support
ipywidgets==8.0.4
widgetsnbextension==4.0.5
jupyterlab-widgets

# scientific
numpy<2.0.0
scipy>=1.11.4,<2.0.0
pymcubes==0.1.4
quadprog

# convex optimization
cvxpy
mosek       # the MOSEK Python bindings
cvxpy[MOSEK]

# visualization / logging
plotly
tqdm
wandb

# RL environments & solvers
gymnasium
gurobipy
